@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-behaviour-smooth;
  }

  body {
    @apply font-bold text-body text-neutral-blue-grayish bg-neutral-blue-lightest;
  }

  input:focus,
  a:focus {
    @apply outline-none;
  }
}

@layer utilities {
  .scroll-behaviour-smooth {
    scroll-behavior: smooth;
  }

  .grid-area-container {
    grid-template-areas: 'single';
  }

  .grid-area {
    grid-area: single;
  }

  .gradient {
    @apply bg-gradient-to-br from-gradient-start to-gradient-end;
  }
}
