.react-toggle-track {
  width: 3.5rem;
  height: 2rem;
  border-radius: 1rem;
}

.react-toggle-track {
  background: linear-gradient(135deg, #a2a7f0 0%, #696edd 100%);
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track,
.react-toggle:focus-within:not(.react-toggle--disabled) .react-toggle-track {
  opacity: 0.5;
}

.react-toggle-thumb {
  top: 4px;
  left: 4px;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  background-color: #fff;
}

.react-toggle--checked .react-toggle-thumb {
  left: 1.75rem;
}

.react-toggle--focus .react-toggle-thumb,
.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  box-shadow: none;
}
